legend{
    font-weight: bold;
    font-size: 20px;
}
fieldset{
    width: auto;
    border-color: rgba(255, 0, 0, 0.575) ;
    border-style: dotted ;
    border-radius: 20px ;
    text-align: left;
    
}
label{
    display: inline-block;
    width: auto;
    background-color:rgb(185, 185, 185);
    border-radius: 10px;
    

}
form{
    width:auto;
    margin: auto;
}